body {
	background: #040404;

	margin:0;
	padding: 0;
}

.content {
	margin: 10%;
	color: #FFFFFF;
	font-family: "Raleway";
}

h3 {
	
	font-size: 30px;
	margin: 0;
	color: #FFFFFF;
}

h4 {
	font-size: 25px;
	margin-bottom: 10px;
}

h5 {
	margin: 0;
}

p {
	font-size: 13px;
}

.touch-grad {
	height: 25px;
	background: linear-gradient(#0b1e4a 0%, #00000000 99%);
}

.buttons {

	overflow: hidden;
	position: fixed;
	bottom: 3%;

	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#active {
	background-color: #498ae6;
}

.DataBlock {
	margin-bottom: 5%;

	background-color: #2F2F2F;
	padding-left: 10px;

	padding-top: 5%;
	padding-bottom: 2%;
	display: flow;

	text-align: left;
	width: 100%;

	border-radius: 5px;
}

.centralstation {

}

button {
	background-color: #1B2229;
	border: none;

	font-size: 13px;
	color: #FFFFFF;
	font-family: "Raleway";
	text-align: center;

	padding: 8px;
	padding-left: 8%;
	padding-right: 8%;
	border-radius: 5px;
}
