body, html{
	height: 100%;
	font-family: "League Spartan";
}

.topnav {
	background-color: #0f0b08;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #fff7de;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #8c694f;
	color: #0f0b08;
}

.topnav a.active {
	background-color: #ffa663;
	color: #0f0b08;
}

.quickie{
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10%;
	font-size: 350%;
	
	color: #0f0b08;
}

.more{
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10%;
	font-size: 200%;
	color: #0f0b08;
}

.about{
	margin-left: 5%;
	margin-right: 5%;
	font-size: 200%;
	color: #0f0b08;
}

footer{

	text-align: left;
	position: fixed;
	left: 0;
  	bottom: 0;
  	width: 100%;
	height: 10%;
	background-color: #0f0b08;
	color: #fff7de;
}

.footer{

	margin-left: 5%;
	align-self: center;
	position: absolute;
}