@media only screen and (max-width: 600px) {

	.home {
		height: 100vh;
	}

	.home .me {
		padding-top: 70%;
		padding-inline: 10%;

		font-size: 75px;
		font-family: "Cal Sans";
	}

	.homerest {
		font-size: 18px;
	}

	.skills {
		font-size: 32px;
	}

	.skills .skillicons {
		flex-direction: column;
	}

	.skills .skillicons .eskill .alt {
		opacity: 100%;
	}

	.skills .skillicons .eskill {
		display: flex;

		align-items: center;
		justify-content: space-between;
		padding-top: 10px;
	}

	.skills .skillicons .eskill svg {
		width: 48px;
		height: 48px;
	}

	.certifications {
		padding: 15%;
		font-size: 32px;
	}

	.contact form input {
		width: 100%;
		margin-bottom: 15px;
	}

	.contact .socials {
		width: 100%;
	}

	.nav {
		display: none;
	}
}