:root {
    --titlebar-height: 25px;
    --title-content-space: 5px;
    --window-padding: 10px;

    --long-content: 300px;
    --medium-content: fit-content;
    --short-content: 150px;

    --bg-col: #E5DADA;
    --titlebar-color: #DA2C38;
    --titlebar-del: #BBBBBB;
    --text-col: #02040F;
    --drop-shadow: #00000055;
    --hover: #00000022;
}

body {
    font-family: 'Cascadia Code';
    color: var(--text-col);
    background-color: var(--bg-col);

    background-size: 20px 20px;
    background-image: 
        linear-gradient(to right, var(--drop-shadow) 1px, transparent 1px),
        linear-gradient(to bottom, var(--drop-shadow) 1px, transparent 1px);

    overflow: hidden;
}

b, a {
    color: var(--titlebar-color);
}

a {
    float: right;
}

.deck {
    width: 60px;
    height: fit-content;
    box-sizing: border-box;
    padding: 0;

    background-color: var(--bg-col);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;

    box-shadow: 10px 10px 0px 0px var(--drop-shadow);

    border-radius: 5px;
    border: 2.5px solid var(--text-col);
    overflow: hidden;

    z-index: 10000;

    position: fixed;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);

    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.deck .deck-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.deck .deck-item:hover {
    background-color: var(--hover);
}

.deck .deck-item svg {
    width: 32px;
    min-width: 32px;
    height: 32px;
    max-width: 32px;
}

.deck .deck-item .desc {
    display: none;
    user-select: none;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.deck:hover {
    width: 240px;
}

.deck:hover .deck-item .desc {
    display: inherit;
    overflow: hidden;
}

.window {
    background-color: var(--titlebar-del);
    width: 500px;
    padding-top: var(--window-padding);
    box-sizing: border-box;
    display: none;
    flex-direction: column;

    user-select: none;
    position: absolute;
    top: 20%;
    left: 20%;

    box-shadow: 10px 10px 0px 0px var(--drop-shadow);
    border-radius: 5px;
    border: 2.5px solid var(--text-col);

    transform-origin: center;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.window.active {
    background-color: var(--titlebar-color);
    box-shadow: 12px 12px 0px 0px var(--drop-shadow);
}

.window.open {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.window.closing {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.window .window-heading {
    margin-inline: var(--window-padding);
    height: var(--titlebar-height);
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: var(--title-content-space);
}

.window .window-heading .window-close {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.window .window-heading .window-close:hover {
    background-color: #00000022;
}

.window .window-content {
    background-color: var(--bg-col);
    width: 100%;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    padding: var(--window-padding);
    font-size: 24px;
}

.about .window-content {
    height: var(--short-content);
}

.skills .window-content {
    height: var(--medium-content);
}

.projects .window-content {
    height: var(--long-content);
}

.cert .window-content {
    height: var(--long-content);
}

.contact .window-content {
    height: var(--medium-content);
}






.quick-tutorial {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 10px;
}